body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    font-family:  'Open Sans', sans-serif;
    
    font-size: 120%;
}
.card{
    background: #00000d;
    color: white;
    padding: 20px;
    border-radius:30px ;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.search{
    display:flex;
    align-items:center ;
    justify-content: center;
}

.button{
    margin:0.5rem ;
    height: 12px;
    width: 12px;
    border-radius: 34px;
    border:none;
   
    outline: none;
    background: #7c7c7c2b;
    
    
}
button:hover{
    background:#7c7c7c6b; 
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
}
h1.temp{
    margin: 0px;
}
